.js-selected{
    border: 1px solid $main-color;
}

.js-highlight{
    background-color: $main-color;
    .char__article--title{
        color: $color-white;
    }
    .char__article--subtitle{
        color: $color-white;
    }
}

.js-hidden{
    display: none;
}

