<header class="page__header">
    <section class="page__header--hero"></section>
    <section class="page__header--search">
        <form class="search__form" action="" method="post">
            <i class="search__form--icon fa-solid fa-magnifying-glass"></i>
            <input class="search__form--input js-search-input" type="text" placeholder="Example: Walter White">
            <button class="search__form--button js-search-btn">Search</button>
        </form>
    </section>
</header>