@mixin sectionTitle(){
    width: 100%;
    border-bottom: 1px solid $main-color;
    padding-bottom: rem(10);
    font-family: $sec-font-family;
    font-size: rem(14);
    font-weight: 300;
    color:  $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(10);
    margin-top: rem(20);
    margin-bottom: rem(30);
    .fa-heart{
        font-size: rem(12);
    }
}

@mixin sectionList() {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(20);
}

@mixin articleTemplate(){
    cursor: pointer;
    width: rem(160);
    height: rem(230);
    border-radius: rem(12);
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(5);
    padding: rem(0) rem(20) rem(5) rem(20);
    box-shadow: 0 0 rem(2) 0 $color-ocre-op;
}

@mixin articleImg(){
    width: rem(160);
    height: rem(180);
    border-top-left-radius: rem(12);
    border-top-right-radius: rem(12);
    object-fit: cover;
    object-position: top;
}

@mixin articleTitle(){
    font-size: rem(10);
    font-weight: bold;
    color: $color-ocre;
}

@mixin articleSubtitle(){
    font-size: rem(9);
    color: $color-ocre;
}