@mixin sectionTitle(){
    /*Font*/
    font-family: $sec-font-family;
    font-size: rem(14);
    font-weight: 300;
    color:  $main-color;
    /*Display*/
    display: flex;
    align-items: center;
    gap: rem(10);
    /*Margins*/
    margin-bottom: rem(30);
    /*Icon*/
    .fa-heart{
        font-size: rem(12);
    }
}

@mixin sectionList() {
    /*General properties*/
    list-style: none;
    /*Display*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(20);
}

@mixin articleTemplate(){
    /*Cursor*/
    cursor: pointer;
    /*General properties*/
    width: rem(160);
    height: rem(230);
    border-radius: rem(12);
    background-color: $color-white;
    box-shadow: 0 0 rem(5) 0 $color-grey-light;
    /*Display*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: rem(5);
}

@mixin articleImg(){
    /*General properties*/
    width: rem(160);
    height: rem(180);
    border-top-left-radius: rem(12);
    border-top-right-radius: rem(12);
    /*Fit*/
    object-fit: cover;
    object-position: top;
}

@mixin articleTitle(){
    font-size: rem(10);
    font-weight: bold;
    color: $main-color;
}

@mixin articleSubtitle(){
    font-size: rem(9);
    color: $main-color;
}