@mixin sectionTitle(){
    color: $main-color;
    font-size: rem(16);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(10);
    margin-top: rem(20);
    margin-bottom: rem(20);
    .fa-heart{
        font-size: rem(12);
    }
}

@mixin sectionList() {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: rem(20);
}

@mixin articleTemplate(){
    cursor: pointer;
    width: rem(160);
    height: rem(240);
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(5);
    padding: rem(10) rem(20) rem(5) rem(20);
    box-shadow: 0 0 rem(3) 0 rgba(0, 0, 0, 0.35);
}

@mixin articleImg(){
    width: 100%;
    height: rem(180);
}

@mixin articleTitle(){
    font-size: rem(12);
    font-weight: bold;
}

@mixin articleSubtitle(){
    font-size: rem(10);
}