//Fonts
$sec-font-family: 'Rubik', sans-serif;

//Colors
$color-white: #fff;
$color-yellow: #f0b81b;
$color-black: #000000;
$color-grey-light: #e1dfdf;

//Sections by colors
$main-color: $color-black;
$secondary-color: $color-yellow;
