//Fonts

$sec-font-family: 'Rubik', sans-serif;

//Colors

$color-white: #fff;
$color-green: #036f32;
$color-green-op: #036f3282;
$color-blue: #73a9b3;
$color-ocre: #a26f13;
$color-ocre-op: #a2701395;
$color-ocre-light: #e0ceab;
$color-brown: #744610;
$color-brown-op: #744510bc;

//Sections by colors
$main-color: $color-ocre;
