.page{
    &__footer{
        background-color: $color-white;
        border-top: 1px solid $color-green;
        height: 4vh;
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(12);
        font-weight: 500;
        color: $color-green;
    }
}