.page{
    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--hero{
            /*General properties*/
            height: 50vh;
            width: 100%;
            background-image: url(../images/header-photo.jpg);
            opacity: 90%;
            background-size: cover;
            background-position: center 15%;
            /*Display*/
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &--search{
            width: 75%;
            border-radius: rem(20);
            padding: rem(25);
            background-color: $color-white;
            box-shadow: 0 0 rem(1) 0 $color-brown-op;
            transform: translateY(-50%);
            .search__form{
                display: flex;
                justify-content: space-evenly;
                gap: rem(10);
                &--input{
                    width: 100%;
                    height: rem(30);
                    border-radius: rem(15);
                    border: 1px solid $color-ocre-light;
                    padding-left: rem(15);
                    font-size: rem(12);  
                }
                &--button{
                    cursor: pointer;
                    border: none;
                    background-color: $main-color;
                    width: rem(80);
                    height: rem(30);
                    border-radius: rem(15);
                    color: $color-white;
                    font-size: rem(12);
                }
            }
        }
    }
}
