/*Header*/

.page{
    &__header{
        &--hero{
            /*General properties*/
            height: 40vh;
            background-image: url(../images/header-back.jpg);
            opacity: 90%;
            background-size: cover;
            background-position: center 15%;
        }
        &--search{
            /*General properties*/
            width: 100%;
            background-color: $color-white;
            padding: rem(20);
            /*Position*/
            transform: translateY(-50%);
            .search__form{
                /*Display*/
                display: flex;
                justify-content: center;
                align-items: center;
                gap: rem(30);
                &--icon{
                    transform: translateX(420%);
                    font-size: rem(12);
                }
                &--input{
                    /*General properties*/
                    width: rem(500);
                    height: rem(30);
                    border-radius: rem(15);
                    border: none;
                    background-color: $color-grey-light;
                    padding-left: rem(30);
                    /*Font*/
                    font-size: rem(12);  
                }
                &--button{
                    /*Cursor*/
                    cursor: pointer;
                    /*General properties*/
                    border: none;
                    background-color: $main-color;
                    width: rem(80);
                    height: rem(30);
                    border-radius: rem(15);
                    /*Font*/
                    font-size: rem(12);
                    color: $color-white;
                }
            }
        }
    }
}
