.page{
    margin-bottom: rem(50);
    &__main{
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
        &--char{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 75%;
            padding-right: rem(60);
            padding-left: rem(60);
        }
        &--favchar{
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: rem(30);
            padding-left: rem(30);
        }
    }
}

.char{
    &__title{
        @include sectionTitle();
    }
    &__list{
        @include sectionList();
        &--item{
            @include articleTemplate();
            position: relative;
        }
    }
    &__article{
        display: flex;
        flex-direction: column;
        gap: rem(6);
        &--del{
            cursor: pointer;
            position: absolute;
            padding: rem(10);
            left: 0;
            top: 0;
            transform: translate(-100%, -25%);
            color: $color-ocre;
        }
        &--img{
            @include articleImg();
        }
        &--title{
            @include articleTitle();
        }
        &--subtitle{
            @include articleSubtitle();
        }
    }
}

.favchar{
    &__title{
        @include sectionTitle();
    }
    &__list{
        @include sectionList();
        justify-content: center;
    }
    &__btn{
        cursor: pointer;
        font-size: rem(12);
        color: $main-color;
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: rem(5);
        margin-top: rem(20);
        .fa-xmark{
            font-size: rem(12);
            background-color: $main-color;
            color: $color-white;
            width: rem(22);
            height: rem(22);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
