/*Main*/

.page{
    /*Margins*/
    margin-bottom: rem(50);
    &__main{
        /*Display*/
        display: flex;
        flex-direction: row-reverse;
        /*General characters*/
        &--char{
            /*General properties*/
            width: 75%;
            padding-right: rem(30);
            padding-left: rem(30);
            /*Display*/
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        /*Favorite characters*/
        &--favchar{
            /*General properties*/
            width: 25%;
            padding-right: rem(30);
            padding-left: rem(30);
            /*Display*/
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

/*General characters*/
.char{
    &__title{
        @include sectionTitle();
    }
    &__list{
        @include sectionList();
        &--item{
            @include articleTemplate();
            position: relative;
        }
    }
    &__article{
        &--del{
            /*Cursor*/
            cursor: pointer;
            /*Position*/
            position: absolute;
            padding: rem(10);
            left: 0;
            top: 0;
            transform: translate(-100%, -25%);
            /*Font*/
            color: $main-color;
        }
        &--img{
            @include articleImg();
        }
        &--title{
            @include articleTitle();
        }
        &--subtitle{
            @include articleSubtitle();
        }
    }
}

/*Favorite characters*/
.favchar{
    &__title{
        @include sectionTitle();
    }
    &__list{
        @include sectionList();
        justify-content: center;
    }
    &__btn{
        /*Cursor*/
        cursor: pointer;
        /*General properties*/
        border: none;
        background-color: $main-color;
        width: rem(100);
        height: rem(25);
        border-radius: rem(12.5);
        /*Font*/
        font-size: rem(11);
        color: $color-white;
        /*Margins*/
        margin-top: rem(20);
    }
}
